services:
  backend:
    build:
      context: ./docker/backend
      dockerfile: Dockerfile
    container_name: backend-runtime

  frontend:
    build:
      context: ./docker/frontend
      dockerfile: Dockerfile
    container_name: frontend-runtime